@font-face {
   font-family: 'OpenSauceOne-Light';
   font-display: swap;
   src: url('file:///Users/Roger_1/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2025-09-17_111609/fonts/OpenSauceOne-Light/font.ttf');
}
